<h2>Small File Upload</h2>

<form method="post" enctype="multipart/form-data" action="small-upload">    
    <p>Upload one or more files using this form:</p>
    <input type="file" name="files" multiple />        
    <input type="submit" value="Upload" />
</form>

<h2>Large File Upload</h2>

<form method="post" enctype="multipart/form-data" action="large-upload">    
    <p>Upload one or more files using this form:</p>
    <input type="file" name="files" multiple />        
    <input type="submit" value="Upload" />
</form>