body {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    display: block;
    margin: 1em 0;
    padding: .5em 1em;
    background: #eee;
    color: #222;
    border: 1px solid #aaa;
    border-radius: 5px;
}