@model AspNetCore.Lambda.SampleApp.Person

<!DOCTYPE html>

<html>
<head>
    <title>Hello, @Model.Name</title>
</head>
<body>
<div>
    <h3>
        Hello, @Model.Name
    </h3>
</div>
</body>
</html>