name: Fantomas check

on:
  pull_request:
    paths: 
      - 'samples/**'
      - 'src/**'
      - 'tests/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  fantomas-check:
    name: Code format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Restore packages
        run: dotnet tool restore
      - name: Run Fantomas
        run: dotnet fantomas --check src samples tests
      - name: log failure
        if: failure()
        run: echo "Some files need formatting, please run 'dotnet fantomas src samples tests'"
